/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo e altura total */
body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif; /* Definindo a fonte Open Sans */
}

/* Mapa ocupa toda a tela */
#map {
  width: 100vw;
  height: 100vh;
}

/* Menu lateral sobre o mapa */
#sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px; /* Escondido fora da tela inicialmente */
  background: linear-gradient(0deg, rgba(88,129,87,1) 0%, rgba(52,78,65,1) 100%);
  padding: 40px;
  transition: 0.3s ease;
  z-index: 1000;
  box-shadow: 3px 0 5px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  /*justify-content: center; /* Centraliza verticalmente */
}

/* Menu ativo */
#sidebar.active {
  left: 0;
}

/* Título do menu */
#sidebar h2 {
  color: #A3B18A; /* Cor do título do menu */
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px; /* Tamanho maior para o título */
  font-weight: bold; /* Negrito para o título */
}

/* Links do menu */
#sidebar ul {
  list-style-type: none;
  padding: 0;
  width: 100%; /* Para que os links ocupem a largura total */
}

#sidebar ul li {
  margin: 40px 0;
  text-align: center; /* Centraliza o texto dos links */
}

#sidebar ul li a {
  color: #DAD7CD; /* Cor dos links */
  text-decoration: none;
  font-size: 20px; /* Tamanho maior para os links */
  transition: color 0.3s;
  font-weight: bold; /* Negrito para os links */
  background-color: #588157;
  padding: 10px;
  border-radius: 10px;
}

#sidebar ul li a:hover {
  color: #A3B18A; /* Cor dos links ao passar o mouse */
}

/* Botão sanduíche */
.hamburger {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  background: none;
  border: none;
  color: #344E41; /* Cor do botão */
  cursor: pointer;
  z-index: 1100;
  outline: none;
  transition: left 0.3s ease;
}

/* Itens de barra do botão */
.hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #3A5A40; /* Cor das barras do botão */
  margin: 5px 0;
  transition: 0.4s;
}

/* Alternância do botão para "X" */
.hamburger.active {
  left: 270px; /* Empurrado para a direita quando o menu está aberto */
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
